doctype html
head
  title Garam Masala
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS for styling and layout
  link(href='./../css/style_sheet.css' rel='stylesheet' type='text/css')

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> 
  
  // EKKO-LIGHTBOX CSS FILE
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ==" crossorigin="anonymous" />

body  
  #wrapper
    .our_menu_top.container-fluid
      .row.justify-content-end(style='background-color:black;padding-right:5%;')
        <span style='color:white;'><i class="fab fa-facebook-square fa-2x" style='margin-right:10px;'></i></span>
        <span style='color:white;'><i class="fab fa-instagram-square fa-2x"style='margin-right:10px'></i></span>
        .page_link_login.login_link(style='margin-top:2px;')
          - 
          if user
            .dropdown
              button.btn.btn-primary.dropdown-toggle(type='button' data-toggle='dropdown' style='background-color:black;border:none')= `Welcome, ${user.name.split(' ')[0]}`
                ul.dropdown-menu(style='text-align:center;background-color:black;')
                  li
                    a#home(href='/home') Home
                  li
                    a#order(href='/home') My Orders
                  li
                    a#updateMe(href='/updateMe') Update Me
                  li
                    a#logout(href='/home') Logout
          else
               a.login_link(href='/login' ) Login
      .row.justify-content-center
        .col-lg-8.top_section_header
          .page_link_home.page_link 
            a(href='/home') HOME
          .page_link_aboutUs.page_link
            a(href='/aboutUs') ABOUT US
          .page_link_ourMenu.page_link 
            a(href='/ourMenu') OUR MENU
          img(src='./images/home_page/my_logo.png')
          .page_link_gallery.page_link 
            a(href='/gallery') GALLERY
          .page_link_catering.page_link
            a(href='/catering') CATERING
          .page_link_contactUs.page_link 
            a(href='/contactUs') CONTACT US
        .col-lg-12.top_section_header_mobile
          img(src='./images/home_page/my_logo.png')
          .side_icon
            <i class="fas fa-bars fa-2x"></i>     
      .row.justify-content-center
        .col-lg-7
          p.section_title GALLERY
        .col-lg-8
          p.section_subtitle The results never disappoint as traditional Indian dishes are created with a fusion twist to satisfy all the taste buds of today's clientele.

    .gallery_container.container-fluid
      .row.justify-content-center
        .col-lg-10
          p.gallery_title OUR RESTAURANT
      .row.justify-content-center
        .col-md-10
          .row.image_row
            a.image_gallery.col-sm-4(href='./../images/gallery/gallery_1.jpg' data-toggle='lightbox' data-gallery='example-gallery')
              img.image-lightbox.img-fluid(src='./../images/gallery/gallery_1.jpg')
            a.image_gallery.col-sm-4(href='./../images/gallery/gallery_2.jpg' data-toggle='lightbox' data-gallery='example-gallery')
              img.img-fluid(src='./../images/gallery/gallery_2.jpg')
            a.image_gallery.col-sm-4(href='./../images/gallery/gallery_3.jpg' data-toggle='lightbox' data-gallery='example-gallery')
              img.img-fluid(src='./../images/gallery/gallery_3.jpg')
          .row.image_row
            a.image_gallery.col-sm-4(href='./../images/gallery/gallery_4.jpg' data-toggle='lightbox' data-gallery='example-gallery')
              img.img-fluid(src='./../images/gallery/gallery_4.jpg')
            a.image_gallery.col-sm-4(href='./../images/gallery/gallery_5.jpg' data-toggle='lightbox' data-gallery='example-gallery')
              img.img-fluid(src='./../images/gallery/gallery_5.jpg')
            a.image_gallery.col-sm-4(href='./../images/gallery/gallery_10.jpg' data-toggle='lightbox' data-gallery='example-gallery')
              img.img-fluid(src='./../images/gallery/gallery_10.jpg')
          .row.image_row
            a.image_gallery.col-sm-4(href='./../images/gallery/gallery_7.jpg' data-toggle='lightbox' data-gallery='example-gallery')
              img.image_lightbox.img-fluid(src='./../images/gallery/gallery_7.jpg')
            a.image_gallery.col-sm-4(href='./../images/gallery/gallery_8.jpg' data-toggle='lightbox' data-gallery='example-gallery')
              img.img-fluid(src='./../images/gallery/gallery_8.jpg')
            a.image_gallery.col-sm-4(href='./../images/gallery/gallery_9.jpg' data-toggle='lightbox' data-gallery='example-gallery')
              img.img-fluid(src='./../images/gallery/gallery_9.jpg')        
    .reserve_call_container.container-fluid
      .row.justify-content-center
        .col
          p.make_call YOU CAN ALSO CALL TO MAKE A RESERVATION.
          p.phone_number 123 456 7890
          .contact
            button.view_complete VIEW COMPLETE
    .subscription.container-fluid
      .row.justify-content-center
        .col-lg-4.subscribe_title
          p.subscription_title Subscribe Newsletter 
          
        .col-lg-4.subscribe_subtitle
          p.subscription_subtitle Get to know about our new specials on weekends!
        .col-lg-4.submit
          input.email(placeholder='Your email address')
          button.submit_email SUBMIT        
    .bottom
      .container
        .row.justify-content-center
          .col-lg-3.block
            h3.footer_title ABOUT US
            p The Garam Masala specializes in creating a uniquely thoughtful atmosphere, which will not only excite one's tastes, but provide the perfect dining experience.
          .col-lg-3.block        
            h3.footer_title CONTACT US
            ul.footer_contact.fa-ul
              li#email_footer 
                <span><i class="far fa-envelope-open"></i></span>
                <span>amandeepbisht1994@gmail.com</span>
              li#location_footer
                <i class="fas fa-map-marker-alt"></i>
                |34,Northridge pwky,charlottetown,PEI,c1c1a1
              li#phone_footer 
                <i class="fas fa-phone-alt"></i>
                |123 456 7890
              
          .col-lg-3.block
            h3.footer_title WORK TIME
            <ul class=leaders>
              <li><span>Monday-Thursday</span>
                <span>10AM-10PM</span>
              <li><span>Friday-Satuday</span>
                <span>10AM-11PM</span>
              <li><span>Sunday</span>
                <span>Closed</span>
            </ul>

                
                
              
          .col-lg-3.block        
            h3.footer_title VISIT LINKS
            <ul class=leaders>
              <li><span>Home</span>
                <span>Visit</span>
              <li><span>About Us</span>
                <span>Visit</span>
              <li><span>Our Menu</span>
                <span>Visit</span>
              <li><span>Order Online</span>
                <span>Visit</span>
            </ul>

    .copyright
      .container-fluid
        .row.justify-content-center.allright
      
  .mobile_wrapper.toggled.container-fluid
    .row.header-mobile.justify-content-center
      .col-lg-12
        img(src='./images/home_page/my_logo.png')
        .close_btn
          <i class="fas fa-times fa-2x"></i> 

    .row.justify-content-center
      .col-lg-8.mobile_menu
        .mobile_home.page_link_mobile
          a(href='/home') HOME
        .mobile_aboutUs.page_link_mobile
          a(href='/aboutUs') ABOUT US
        .mobile_ourMenu.page_link_mobile 
          a(href='/ourMenu') OUR MENU
        
        .mobile_gallery.page_link_mobile
          a(href='/gallery') GALLERY
        .mobile_Catering.page_link_mobile
          a(href='/catering') CATERING
        .mobile_contactUs.page_link_mobile 
          a(href='/contactUs') CONTACT US 

  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g==" crossorigin="anonymous"></script>
script(src='./../js/home_page.js' type="module") 

<script src="https://kit.fontawesome.com/228c19a043.js" crossorigin="anonymous"></script>